@use "../../styles/global" as global;
@use "../../styles/constants" as constants;
@use "../../styles/mixins" as mixin;

.contact {
  margin-bottom: 100px;
  background: constants.$primary-blue;
  padding: 41px 0;
}
.contact__motto {
  color: constants.$color-white;
}
.contact__text {
  color: constants.$color-greyLight;
}
