@use "../../styles/global" as global;
@use "../../styles/constants" as constants;
@use "../../styles/mixins" as mixin;

.service {
  margin-bottom: 100px;
}

.service__description {
  @include mixin.font($size: 1.8rem, $weight: 400);
  letter-spacing: 0.03em;
  color: constants.$color-light;
  margin-bottom: 88px;
  max-width: 491px;
}
