@use "../../styles/global" as global;
@use "../../styles/constants" as constants;
@use "../../styles/mixins" as mixin;

.promoInfo {
  padding: 40px 48px 44px 48px;
  background-color: constants.$primary-blue;
  color: constants.$color-white;
  row-gap: 57px;
  top: 120px;
  right: 165px;
  @include mixin.media-extraLarge {
    padding: 20px 28px 24px 28px;
  }
}
.numbers {
  font-size: 52px;
  line-height: 143%;
  @include mixin.media-extraLarge {
    font-size: 24px;
  }
}
.description {
  font-size: 16px;
}
