@use "../../styles/global" as global;
@use "../../styles/constants" as constants;
@use "../../styles/mixins" as mixin;

.button {
  @include mixin.font($size: 1.6rem, $weight: 500);
  color: constants.$color-primary;
  background: constants.$color-white;
  border: 1px solid constants.$color-primary;
  padding: 14px 32px;
  max-width: 200px;
  &:hover {
    @include mixin.font($size: 1.6rem, $weight: 700);
  }
}
.button_colored {
  color: constants.$color-white;
  background: constants.$primary-blue;
  &:hover {
    @include mixin.font($size: 1.6rem, $weight: 700);
    color: constants.$color-white;
  }
}
