$color-primary: #333333;
$color-white: #ffffff;
$background-color: $color-white;
$primary-blue: #2c3878;
$color-black: #000000;

$color-light: #9c9c9c;
$color-nameBlocks: #141414;
$color-greyLight: #d9d9d9;
