@mixin font($size, $weight, $font-display: swap) {
  font-size: $size;
  font-weight: $weight;
  font-display: $font-display;
}

@mixin media-768 {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin media-extraLarge {
  @media (max-width: 1200px) {
    @content;
  }
}
